<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link href="/output.css" rel="stylesheet">
  <style>
    #nav{
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: fixed;
      top: 0px;
      left: 0px;
      background-color: rgb(214, 214, 214);
      height: 100vh;
      padding: 10px;
    }
  </style>
</head>
<body>
  <nav>
    <div id="nav" class="text-black">
      <a href="http://localhost:3002" target="_blank">Display users</a>
      <a href="/admin/register-info">Send info db</a>
      <a href="/admin/manage-user">Manage users</a>
      <a href="/admin/logout">Logout</a>
    </div>
  </nav>
</body>
</html>