<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link href="/output.css" rel="stylesheet">
</head>
<body>
  <div class="h-screen flex flex-col">
    <div class="flex flex-1">
      <%- include("./includes/sidebar.ejs"); %>
  
      <main class="flex-1 p-6">
        Admin
      </main>
    </div>
  
    <%- include("./includes/footer.ejs"); %>
  </div>
</body>
</html>