<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
</head>
<body>
  <h2>Send post info</h2>
  
  <form id="form-admin" action="/admin/post/<%= postId %>/content" method="POST" enctype="multipart/form-data">
    <label>Type do conteudo:</label>
    <select name="type" id="selectTypeContent" required>
      <option value="title">Title</option>
      <option value="text">Text</option>
      <option value="image">Image</option>
    </select><br><br>
    
    <div class="" id="simple-content">
      <label>Content:</label>
      <input id="content" type="text" name="content"><br><br>
    </div>

    <div class="" id="image-content">
      <label>Imagem:</label>
      <input id="file" type="file" name="image"><br><br>
    </div>
    
    <label>Position:</label>
    <input id="position" type="number" name="position" required><br><br>
    
    <button type="submit">Enter</button>
  </form>
  
  <a href="/admin">Voltar</a>

  <script>
    const selectTypeContent = document.getElementById("selectTypeContent");
    const simpleContent = document.getElementById("simple-content");
    const imageContent = document.getElementById("image-content");

    imageContent.style.display = "none";

    selectTypeContent.addEventListener("change", () => {
      const valueSelect = selectTypeContent.value;

      if(valueSelect === "image"){
        simpleContent.style.display = "none";
        imageContent.style.display = "block";
      }
      else{
        simpleContent.style.display = "block";
        imageContent.style.display = "none";
      }
    });
  </script>
</body>
</html>