<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
</head>
<body>
  <h2>Send post info</h2>
  
  <form id="form-admin" action="/admin/post/<%= postId %>/content" method="POST">
    <label>Type do conteudo:</label>
    <select name="type" id="">
      <option value="">Selecione</option>
      <option value="title">Title</option>
      <option value="text">Text</option>
      <option value="image">Image</option>
    </select><br><br>
    
    <label>Content:</label>
    <input id="content" type="text" name="content" required><br><br>
    
    <label>Position:</label>
    <input id="position" type="number" name="position" required><br><br>
    
    <button type="submit">Enter</button>
  </form>
  
    <a href="/admin">Voltar</a>
</body>
</html>