<aside class="w-50 bg-zinc-600 text-white">
    <div class="flex flex-col gap-3 p-6">
        <a href="/admin">Home</a>
        <a href="/admin/register-info">Publicar post</a>
        <a href="/admin/manage-user">Gerenciar post</a>
        <a href="http://localhost:3002" target="_blank">Site Web</a>
        <a href="/admin/logout">Logout</a>
    </div>
</aside>