<aside class="w-50 bg-zinc-600 text-white">
    <div class="flex flex-col gap-3 p-6">
        <a href="/admin">Home</a>
        <a href="/admin/register-info">Send info db</a>
        <a href="/admin/manage-user">Manage users</a>
        <a href="http://localhost:3002" target="_blank">Display users</a>
    <a href="/admin/logout">Logout</a>
    </div>
</aside>