<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Usuários Cadastrados</title>
  <link href="/output.css" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="bg-gray-500 p-5 mb-4">
      <a href="/" class="font-bold underline">Voltar</a>
    </div>
  </nav>

  <h1><%= post.nome %></h1>

  <% content.forEach(c => { %>
    <% if (c.type_content === 'title') { %>
      <p><%= c.content %></p>
    <% } %>

    <% if (c.type_content === 'text') { %>
      <p><%= c.content %></p>
    <% } %>

    <% if (c.type_content === 'image') { %>
      <img src="<%= c.image %>" width="500" height="300">
    <% } %>
  <% }) %>

</body>
</html>